<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net">

      <object id="MyService" type="WCFChannelManager.ChannelManagerFactoryObject, 
              Perponcher.WCFChannelManager">
        <property name="ChannelType" expression="T(Server.IService1, Common)"/>
        <property name="EndpointConfigurationName" value="MyEndpoint"/>
      </object> 

      <!--<object id="MyService" type="WCFChannelManager.ChannelManagerFactoryObject, 
              Perponcher.WCFChannelManager">
        <property name="ChannelType" expression="T(Server.IService1, Common)"/>
        <property name="EndpointConfigurationName" value="MyEndpoint"/>
        <property name="ChannelManagementMode" value="FixedPool"/>
      </object>-->

      <!--<object id="MyService" type="WCFChannelManager.ChannelManagerFactoryObject, 
              Perponcher.WCFChannelManager">
        <property name="ChannelType" expression="T(Server.IService1, Common)"/>
        <property name="EndpointConfigurationName" value="MyEndpoint"/>
        <property name="ChannelManagementMode" value="VariablePool"/>
      </object>-->

      <!--<object id="MyService" type="WCFChannelManager.ChannelManagerFactoryObject, 
              Perponcher.WCFChannelManager">
        <property name="ChannelType" expression="T(Server.IService1, Common)"/>
        <property name="EndpointConfigurationName" value="MyEndpoint"/>
        <property name="ProductTemplate">
          <object>
            <property name="ChannelManager">
              <object type="WCFChannelManager.ChannelPoolManager&lt;Server.IService1>,
                Perponcher.WCFChannelManager">
                <constructor-arg value="MyEndpoint"/>
                <constructor-arg>
                  <object type="WCFChannelManager.AutoSizePoolFactory, 
                          Perponcher.WCFChannelManager"/>
                </constructor-arg>
              </object>
            </property>
          </object>
        </property>
      </object>-->

      <!--<object id="MyService" type="WCFChannelManager.ChannelManagerFactoryObject, 
              Perponcher.WCFChannelManager">
        <property name="ChannelType" expression="T(Server.IService1, Common)"/>
        <property name="EndpointConfigurationName" value="MyEndpoint"/>
        <property name="ChannelManagementMode" value="VariablePool"/>
        <property name="ProductTemplate">
          <object>
            <property name="ChannelManager.ChannelFactory.Credentials.UserName.UserName" value="username"/>
            <property name="ChannelManager.ChannelFactory.Credentials.UserName.Password" value="password"/>
          </object>
        </property>
      </object>-->

    </objects>
      
     
      
  </spring>
  <system.serviceModel>
    <client>
      <endpoint name="MyEndpoint" 
                address="http://localhost:8731/Design_Time_Addresses/Server/Service1/" 
                contract="Server.IService1" binding ="wsHttpBinding"/>
    </client>
  </system.serviceModel>
</configuration>