<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <spring>

    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects xmlns="http://www.springframework.net">
      
      <object id="MyService" type="WCFChannelManager.ChannelManagerFactoryObject">
        <property name="ChannelActionWrapperType" expression="T(WCFChannelManagerTests.MockChannelManager)"/>
        <property name="EndpointConfigurationName" value="MyEndpoint"/>
      </object>

    </objects>

  </spring>
  <system.serviceModel>
    <client>
      <endpoint name="MyEndpoint" address="http://localhost:9876/MyService" contract="WCFChannelManagerTests.IService" binding="wsHttpBinding"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
